<section id="ablauf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ablauf</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div style="padding-top: 20px; margin: 0 auto; text-align: center; width: 80%">
                <p>
                    Aktuell geplanter Ablauf (Reihenfolge kann sich potentiell noch ändern)
                    <br />
                    16:00 - Zusammentreffen bei der Hermesvilla mit kühlen Getränken
                    <br />
                    16:30 - Trauung im Freien
                    <br />
                    17:15 - Agape (Bei Schönwetter als Picknick)
                    <br />
                    19:00 - Essen in der Labstelle
                    <br />
                    21:00 - Musikbeginn
                    <br />
                    23:30 - Mitternachtssnack
                    <br />
                    2:00 - Ende
                </p>
            </div>
        </div>
    </div>
</section>
