<section id="ablauf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ablauf</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Aktuell geplanter Ablauf (Reihenfolge kann sich potentiell noch ändern)</p>
                16:00
                Zusammentreffen bei der Hermesvilla mit kühlen Getränken

                16:30
                Trauung im Freien

                17:15
                (Agape (Bei Schönwetter als Picknick)

                19:00
                Essen in der Labstelle

                21:00
                Musikbeginn

                23:30
                Mitternachtssnack

                2:00
                Ende
            </div>
        </div>
    </div>
</section>
