<a class="anchor" id="einladung"></a>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Einladung</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div style="padding-top: 20px; margin: 0 auto; text-align: center; width: 80%">
                <p>Hey!
                    <br />
                    <br />
                    Nachdem wir mittlerweile 10 Jahre zusammen sind, haben wir uns gedacht ganz langsam können wir es offiziell machen.
                    Gemeinsam mit euch wollen wir einen schönen gemeinsamen Abend verbringen und alles feiern was noch kommt.
                    <br />
                    <br />
                    Natürlich wissen wir nicht, ob es mit Corona möglich sein wird, an dem Tag zu feiern.
                    Aber wir planen mal mit diesem Datum, falls es gesetzlich möglich ist wird es auch mit zusätzlichen Coronamaßnahmen stattfinden (wir denken aktuell an Corona Tests für alle Gäste bei Eintreffen). 
                    <br />
                    <br />
                    Wir möchten euch zu unserer Hochzeitsfeier am 28.08.2021 einzuladen und freuen uns über eine Info, ob ihr kommen könnt.
                    <br />
                    <br />
                    Liebste Grüße,
                    <br />
                    Florian und Fanny
                </p>
            </div>
        </div>
    </div>
</section>
