<a class="anchor" id="faq"></a>
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Fragen und Antworten</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                {% for faq in site.faqs %}
                <div class="panel">
                    <div class="panel-heading" data-toggle="{{forloop.index}}"> 	
                        <a style="pointer-events: none;"><h3>{{faq.title}} +</h3></a>
                    </div>
                    <div class="panel-body hidden-element" style="display:block; pointer-events: none; font-size: large;" data-body="{{forloop.index}}"> 
                        {{faq.body}} 
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
