<!-- About Section -->
<section class="success" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Fragen und Antworten</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <div class="panel">
                    <div class="panel-heading" data-toggle="{{forloop.index}}"> 	
                        <img alt="" class="panel-heading-question" data-toggle="{{forloop.index}}" src="img/questionmark.png"><a data-toggle="{{forloop.index}}" href="javascript:void(0)"><h3>{{site.faqs.title}}</h3></a>
                    </div>
                    <div class="panel-body hidden-element" data-body="{{forloop.index}}"> 
                        {{site.faqs.body}} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
