 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <script>
      function initMap() {
         const lainzerTor = { lat: 48.166893, lng: 16.257109 };
      
         const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 2,
            center: lainzerTor,
         });
      
         const marker = new google.maps.Marker({
            position: lainzerTor,
            map: map,
         });
      }
    </script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}"></script>

    <!-- Collapse Javascript-->
    <script src="{{ "/js/collapse.js" }}"></script>
