<a class="anchor" id="location"></a>
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Location</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div style="padding-top: 20px; margin: 0 auto; text-align: center; width: 80%">
                <p>Wir feiern in der <a href="https://www.hermes-villa.at">Labstelle Hermesvilla</a> im Lainzer Tiergarten
                    <br />
                    <br />    
                    Die Anreise funktioniert am besten übers <a href="https://www.google.com/maps/place/Lainzer+Tor/@48.166893,16.257109,15z/data=!4m5!3m4!1s0x0:0x1ac521ae0591ced4!8m2!3d48.1668638!4d16.2568669">Lainzer Tor</a>.
                    <br />
                    <br />
                    Von dort ist es ein schöner kleiner Spaziergang von 10 Minuten zur Hermesvilla.
                    <br />
                    Alternativ gibt es auch ein Shuttle Service vom Lainzer Tor direkt zur Feier. 
                </p>
            </div>
        </div>
    </div>
</section>
