<a class="anchor" id="location"></a>
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Location</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div style="padding-top: 20px; margin: 0 auto; text-align: center; width: 80%">
                <p><p></p>Wir feiern in der Labstelle Hermesvilla im Lainzer Tiergarten <a href="https://www.hermes-villa.at/kontakt-anfahrt/">https://www.hermes-villa.at/kontakt-anfahrt/</a>
                    <br />
                    <br />    
                    Die Anreise funktioniert am besten übers Lainzer Tor.
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.943926833898!2d16.252767615390365!3d48.16916195694005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da7ada9736319%3A0x3effc32b00623890!2sLainzer%20Tor%2C%201130%20Wien!5e0!3m2!1sen!2sat!4v1612816838898!5m2!1sen!2sat" width="100%" height="400px" frameborder="0" style="border:0"></iframe>
                    <br />
                    <br />
                    Von dort ist es ein schöner kleiner Spaziergang von 10 Minuten zur Hermesvilla.
                    <br />
                    Alternativ gibt es auch ein Shuttle Service vom Lainzer Tor direkt zur Feier. 
                </p>
            </div>
        </div>
    </div>
</section>
