 <!-- About Section -->
    <section class="success" id="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Location</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div style="padding-top: 20px; margin: 0 auto; text-align: center; width: 80%"">
                    <p>
                        Wir feiern in der Labstelle Hermesvilla im Lainzer Tiergarten https://www.hermes-villa.at/kontakt-anfahrt/
                        <br />
                        <br />    
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6470.303306227204!2d16.245075237278087!3d48.170799266335464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da7b323289365%3A0x485492478e64fdbf!2sHERMES%20Cafe%20Restaurant%20Labstelle!5e0!3m2!1sen!2sat!4v1610816849474!5m2!1sen!2sat" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <br />
                        <br />
                        Die Anreise funktioniert am besten übers Lainzer Tor.
                        Von dort ist es ein schöner kleiner Spaziergang von 10 Minuten zur Hermesvilla.
                        <br />
                        Alternativ gibt es auch ein Shuttle Service vom Tor direkt zur Feier. 
                    </p>
                </div>
            </div>
        </div>
    </section>
