.panel-heading {
	cursor: pointer;
	background-color: #{{ site.color.primary }};
}

.panel-heading a{ text-decoration: none;color: #fff ;vertical-align: bottom;}

.panel-heading a:hover {color: #3d78d8;}

.panel-heading-question{
	vertical-align: middle;
}

.panel-body{
	background-color: #{{ site.color.primary }};
}

.hidden-element {
	-moz-transition: height .3s;
	-ms-transition: height .3s;
	-o-transition: height .3s;
	-webkit-transition: height .3s;
	transition: height .3s;
	height: 0;
	overflow: hidden;
}
